.message-window {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  container-type: inline-size;
  container-name: message-window;

  --message-list-width: 70%;
}

.message-window-header {
  background: white;
  height: 60px;
  border-bottom: 1px solid lightgray;
}

.message-window-header-content {
  width: var(--message-list-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.message-window-header-content img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 15px;
}

.message-window-header-content .their-name {
  font-weight: bold;
}

.message-window-header-content .buttons {
  margin-left: auto;
}

.message-list-wrapper {
  flex: 1;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

.message-list {
  width: var(--message-list-width);
  margin: 0 auto;
}

.message-inputbox {
  height: 60px;

  background: white;
  border: 2px solid lightgray;

  display: flex;
  box-sizing: border-box;

  width: var(--message-list-width);
  margin: 0 auto;

  margin-bottom: 15px;

  border-radius: 15px;
  overflow: hidden;
}

.message-inputbox .sending-button {
  background: var(--primary-theme-color);
  color: white;
  border: none;
  border-left: 2px solid lightgray;
  height: 100%;
  flex: 0 0 90px;
  font-style: italic;
  font-weight: bold;
}

.message-inputbox .sending-button[disabled] {
  color: rgb(200, 220, 237);
}

.message-inputbox input {
  outline: none;
  border: none;
  padding: 15px;
  flex: 1;
  font-size: 18px;
  width: 0; /* Overwrite browsers' default width of <input /> elements. */
}

@container message-window (max-width: 970px) {
  .message-window-header-content,
  .message-list,
  .message-inputbox {
    width: auto;
    margin-left: 147px;
    margin-right: 147px;
  }
}

.row {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.row.first {
  margin-top: 5px;
}

.row.my-message :first-child {
  margin-left: auto;
}

.text-bubble {
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
}

.text-bubble.my-message {
  background-color: #bde4f1;
  border-bottom-right-radius: 0;
  border: 2px solid #94bfce;
}

.text-bubble.their-message {
  background-color: #f9f9f9;
  border-bottom-left-radius: 0;
  border: 2px solid #d2d2d2;
}

.empty-message-window-prompt {
  padding: 1em;
  background: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
}
