.message-window {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  container-type: inline-size;
  container-name: message-window;
  position: relative;
  --message-list-width: 70%;
  --horizontal-margin: 147px;
}

.message-window-header {
  background: white;
  height: 60px;
  border-bottom: 1px solid lightgray;
}

.message-window-header-content {
  width: var(--message-list-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.message-window-header-content img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 15px;
}

.message-window-header-content .their-name {
  font-weight: bold;
}

.message-window-header-content .buttons {
  margin-left: auto;
}

.message-inputbox {
  height: 60px;

  background: white;
  border: 2px solid lightgray;

  display: flex;
  box-sizing: border-box;

  width: var(--message-list-width);
  margin: 0 auto;

  margin-bottom: 15px;

  border-radius: 15px;
  overflow: hidden;
}

.message-inputbox .sending-button {
  background: var(--primary-theme-color);
  color: white;
  border: none;
  border-left: 2px solid lightgray;
  height: 100%;
  flex: 0 0 90px;
  font-style: italic;
  font-weight: bold;
}

.message-inputbox .sending-button[disabled] {
  color: rgb(200, 220, 237);
}

.message-inputbox input {
  outline: none;
  border: none;
  padding: 15px;
  flex: 1;
  font-size: 18px;
  width: 0;
  /* Overwrite browsers' default width of <input /> elements. */
}

.scroll-to-bottom-fab {
  --distance-to-right-border: 80px;
  position: absolute;
  right: calc((100% - var(--message-list-width)) / 2 - var(--distance-to-right-border));
  bottom: 80px;
}

@container message-window (max-width: 970px) {
  .message-window-header-content,
  .message-list,
  .message-inputbox {
    width: auto;
    margin-left: var(--horizontal-margin);
    margin-right: var(--horizontal-margin);
  }

  .scroll-to-bottom-fab {
    right: calc(var(--horizontal-margin) - var(--distance-to-right-border));
  }
}

.empty-message-window-prompt {
  padding: 1em;
  background: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
}